@media (768px <=width <=1024px) {
    .wrapper {
        border: 1px solid rgb(224, 214, 214);
        width: 50%;

    }


    .todo-list-heading {
        font-size: 25px;
        padding: 12px 0;
    }
}

@media (425px <=width <=768px) {
    .wrapper {
        width: 75%;
        margin-top: 70px;
    }


    input {
        font-size: 14px;
        padding: 10px;
    }
}

@media (375px <=width <=425px) {
    .wrapper {
        width: 80%;
        margin-top: 50px;

    }

    .pending-lists {
        flex-direction: column;
        gap: 20px;
    }


    .pending-lists .btn {
        width: 100%;
    }

}

@media (320px <=width <=375px) {
    .wrapper {
        width: 90%;

    }

    .pending-lists .btn {
        width: 100%;
    }

}