* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    margin-top: 10%;
    justify-content: center;
    font-family: sans-serif;
}

/* Main Wrapper */
.wrapper {
    padding: 20px;
    border: 2px solid black;
    width: 27%;
}

.todo-list-heading {
    font-size: 25px;
    padding: 10px 0;
}

.input-field {
    /* border: 2px solid red; */
    display: flex;
    gap: 3px;
}

input {
    width: 100%;
    font-size: 15px;
    padding: 5px;
    outline: none;
    border: 1px solid rgba(129, 128, 128, 0.562);
    color: rgb(61, 60, 60);
}

.input-field button {
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    background-color: rgb(29, 126, 252);
}

.input-field button:hover {
    background-color: rgb(35, 108, 204);

}

.input-field .fa-plus {
    font-size: 16px;
    color: #ffff;
}

/* ________ */
.todo-list {
    /* border: 2px solid orange; */
    margin: 10px 0;
}

ul {
    list-style: none;

}

ul li {
    color: rgb(20, 20, 20);
    background-color: rgba(218, 213, 213, 0.767);
    padding: 10px;
    margin-bottom: 5px;
    font-size: 15px;
}