* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    margin-top: 10%;
    justify-content: center;
    font-family: sans-serif;
}

/* Custome Classes */
.btn {
    cursor: pointer;
    border: none;
    background-color: rgb(29, 126, 252);
    color: #ffff;
}

/* Main Wrapper */
.wrapper {
    padding: 20px;
    border: 1px solid rgb(180, 178, 178);
    width: 27%;
}

.todo-list-heading {
    font-size: 25px;
    padding: 10px 0;
}

.input-field {
    /* border: 2px solid red; */
    display: flex;
    gap: 3px;
}

input {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    outline: none;
    border: 1px solid rgba(129, 128, 128, 0.562);
    color: rgb(61, 60, 60);
}

.input-field .btn {
    padding: 10px 15px;
}

.input-field button:hover {
    background-color: rgb(35, 108, 204);

}

.input-field .fa-plus {
    font-size: 16px;
    color: #ffff;
}

/* ________ */
.todo-list {
    margin: 10px 0;
}


ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(20, 20, 20);
    background-color: rgba(218, 213, 213, 0.767);
    padding: 7px 10px;
    margin-bottom: 5px;
    font-size: 15px;
}


.delete,
.edit{
    margin-left: 4px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: #ffff;
    border-radius: 2px;
}


.delete {
    background-color: rgb(219, 8, 8);
}

.delete:hover {
    background-color: rgb(175, 9, 9);

}


.edit {
    background-color: rgb(35, 108, 204);
}

.edit:hover {

    background-color: rgb(12, 85, 180);
}


/* ______________ */
.pending-lists {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pending-lists .btn {
    padding: 10px;
    background-color: black;
    border-radius: 3px;

}

.pending-lists .btn:hover {
    background-color: maroon;
}